body
{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #5f9341;
    box-sizing: border-box;
}

button
{
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

ul
{
    margin-top  : 20px;
    list-style: none;
    padding-left: 0;
}

li
{
    margin-top: 5px;
}

li a
{
    color: #5f9341;

}

#delete-btn
{
    background-color: white;
    color: #5f9341;
}